.left-side-menu-block{
    height: fit-content;
    width: max-content;
    padding: 5px;
    background-color: #3b3b3b;
}

.main-content {
    display: flex;
    width: 90vw;
}

.main-content > div {
    margin-right: 20px;
}

.posts-block {
    background-color: #3b3b3b;
    border-radius: 0 0 10px 10px;
}

.pages-nav {
    background-color: #3b3b3b;
    padding: 10px;
    position: fixed;
    border-radius: 10px;
}
.pages-nav h2 {
    margin-top: 10px;
}

/*.right-side-menu-block .center {*/
/*    height: 100%;*/
/*}*/