.post-comment {
    margin-top: 10px;
    margin-left: 50px;
}

.right-side-block {
    width: 100%;
}

.comment-actions {
    margin-left: auto;
}

.message-container {
    white-space: pre-line;
}

.data-content {
    padding: 10px;
    box-sizing: border-box;
}

.data-content .avatar {
    border-radius: 50px;
}

.right-side-block > textarea {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 600px;
    min-width: 600px;
}
blockquote {
    word-break: break-word;
}
