.post-block {
    box-sizing: border-box;
    width: 800px;
    height: 200px;
    padding: 10px;
}
.post-block:hover {
    background-color: #444444;
    border-radius: 10px;
}

.post-block .title {
    display: flex;
    height: 90px;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
}

.post-block .info-line {
    height: 90px;
    width: 780px;
    display: inline-flex;
}

.info-line .user-block {
    display: flex;
    align-items: center;
    width: max-content;
    height: 90px;
}

.user-block .username {
    font-size: 20px;
    font-weight: bold;
}
.user-block .avatar {
    height: 90px;
    width: 90px;
    border-radius: 50px;
}

.info-line * {
    margin-right: 5px;
}

.info-line .creation-time {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
}

.info-line .post-rating {
    display: flex;
    margin-left: auto;
    align-items: flex-end;
    margin-right: 0;
}

.info-line .post-rating, .post-rating * {
    display: inline-flex;
    align-items: flex-end;
}

.rating-block .count {
    font-size: 25px;
    font-weight: bold;
}